.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    padding: 1em;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}